a {
  color: black;
}
h4 div {
  text-align: center;
}
SPAN.textbox {
  background-color: #FFF;
  color: #888;
  line-height: 20px;
  height: 20px;
  padding: 3px;
  border: 1px #888 solid;
  font-size: 9pt;
  box-sizing: content-box;
}
SPAN.textbox INPUT {
  line-height: normal;
  border: 1px;
  background-color: #FFF;
}
.width-control {
  width: 80%;
  text-align: center;
}
.control-label {
  float: left;
}
.video-container {
  text-align: center;
}
.centered-button {
  width: 30%;
  left: 50%;
  margin-top: 5px;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.inbox.col-md-10 {
  padding: 0px 0px 0px 5px;
}
.list-group-item.message-field {
  padding: 0px 2px 0px 5px;
  border-style: none;
}
.list-group-item.header-field {
  padding: 0px;
}
body div.message:hover {
  color: black;
  font-weight: 100;
  background-color: black !important;
}
.unread {
  font-family: "Lucida Console", Monaco, monospace;
  color: darkgray;
  font-weight: 900;
  border-style: none;
}
.read {
  font-family: "Lucida Console", Monaco, monospace;
  color: lightgray;
  font-weight: 100;
  border-style: none;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px;
}
.sidenav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
.spacer {
  margin-top: 50px;
}
.feature {
  margin-bottom: 30px;
}
footer {
  margin: 50px 0;
}
.demoContainer {
  position: relative;
}
.connectControls {
  float: left;
  width: 250px;
  text-align: center;
  border: 2px solid black;
}
.otherClients {
  height: 200px;
  overflow-y: scroll;
}
video.selfVideo {
  height: 225px;
  width: 300px;
  float: left;
  border: 1px solid gray;
  margin-left: 10px;
}
video.callerVideo {
  height: 225px;
  width: 300px;
  border: 1px solid gray;
  margin-left: 10px;
}
.callerDiv {
  position: relative;
  float: left;
}
